{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}

{% block content %}
<div class="card card-narrow">
  <h1>{% translate "Reset your password" %}</h1>
  <p>{% translate "Enter the email address you use for OSEA. If it matches an account, we'll email you a link to choose a new password." %}</p>
  {% include "partials/form_errors.html" %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "partials/field.html" with field=form.email %}
    <div class="btn-row">
      <button class="btn btn-primary" type="submit">{% translate "Send reset link" %}</button>
      <a href="{% url 'accounts:login' %}">{% translate "Back to sign in" %}</a>
    </div>
  </form>
</div>
{% endblock %}
